@import url('https://fonts.googleapis.com/css2?family=Lateef&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.mainCon{
  background-color: #222529;

}
.tilesCon{
  color: #FFFFFF;
  font-family:'Poppins';
  font-size: 1rem;
  font-weight: 200;
  padding: 2rem  1rem;
  width: 21.25rem;
}
.tilesCon h3{
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  padding: 0 0.3rem 0 0;
  align-items: center;
}
.tilesCon__topCon{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.custom_select{
  position: relative;
}
.select {
  -webkit-appearance: none;
  /* -webkit-padding-start: 20px; */
background-image: url("../public/Down.png");
background-size: 25px 25px;
background-repeat: no-repeat;
background-position: right bottom;

  border: 1px solid rgba(255, 255, 255, .2);
  background-color: #222529;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.1rem 0.7rem;

  border-radius: 5px;
  height: 31px;
  width: 82px;
}
.tilesCon__midCon{
  display: grid;
  grid-gap: 0.8rem;
  grid-template-rows: 1fr ;
}
.btn_Container{
 display: flex;
 justify-content: space-around;
 align-items: center;
 padding: 1rem 0;
}
.btn_Container button{
  color:var(--buttonText);
  background-color: var(--back);
  border: 1px solid var(--buttonText);
  border-radius: var( --radiusButton);
  height: 23px;
  width: 42px;
  margin: 0 0.4rem;
  cursor: pointer;
}